body, button, textarea, pre {
    font-family: Consolas;
    text-align: center;
}

textarea {
    width: 500px;
    border: 1px solid silver;
    border-radius: 3px;
    padding: 0.2rem;
    text-align: center;

}

button {
    font-size: 1rem;
    border: 1px solid black;
    background: white;
    cursor: pointer;
    padding: 3px 5px 1px 5px;
    text-align: center;
    border-radius: 3px;
}

pre, textarea, input {
    font-size: 0.8rem;
    text-align: center;
}

h2 {
    margin: 0;
    font-weight: normal;
    text-align: center;
}

#private-key {
    display: none;
}

#private-key.visible {
    display: block;
}

.hint {
    font-size: 0.7rem;
    margin: 0;
    color: gray;
    text-align: center;
}

.public-key textarea {
    text-align: left;
}

#output {
    text-align: center;
}

#encrypt {
    background: green;
    color: white;
}

#copy {
    font-weight: bold;
}